body{
    background-color: rgb(197, 191, 191);
}
.container{
    text-align: center;
    background-color: pink;
    max-width: 300px;
    margin: auto;
    margin-top: 10vh;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px;
    transition: 0.5s;
}
.name{
    font-size: 20px;
}
#textBox{
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    max-width: 200px;

}
#toFahrenheit,
#toCelsius{
    margin:10px;
}
#submit{
    background-color: rgb(59, 165, 35);
    border: unset;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: 0.5s;
}
#submit:hover{
    color: white;
    cursor: pointer;
    scale: 1.05;
}
#result{
    margin: 10px;
}