p{
    font-size: 2rem;
}
#container{
    text-align: center;
    background-color: rgb(218, 228, 218);
}

#number{
    text-align: center;
    width: 100px;

}
#container button{
    padding: 10px;
    margin: 20px;
}
#container button:hover{
    background-color: rgb(218, 213, 213);
    cursor: pointer;
}
#diceResult{
    margin: 10px;
}
#diceImages img{
    width: 100px;
    margin: 5px;

}