#lable{
    display: flex;
    justify-content: center;
    background-color: gold;
    align-items: center;
    font-size: 5em;
}
.btn-container{
    background-color: gold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn-container button{
    padding: 10px;
    margin: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(136, 136, 247);
    scale: 1.05;
}
button:active{
    scale: 1.3;
}
