body{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container{
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
#clock{
    background-color: rgba(138, 137, 137 , 0.2);
    width: 100vw;
}