body{
    text-align: center;
    background: linear-gradient(90deg , rgb(86, 52, 148) , rgb(145, 17, 21) );
}
button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button:hover{
    text-decoration: dashed;
    color: white;
    background-color: rgb(92, 88, 88);
    border: 1px solid black;
}
.result{
    margin-top: 50px;
}